@import "partials/typography";
@import "partials/home";
@import "partials/navbar_rodape";
@import "partials/login-register.scss";
@import "partials/product";
@import "partials/cupom";
@import "partials/sobre";
@import "partials/favorito";
@import "partials/meu-pedido";

$primary: #8C6342;  // cor primária
$secondary: #F9EED8; // cor secundária
$dark: #111111;  // cor para títulos
$light: #333333; // cor para descrições
$info: #828282; // cor utilizada para datas na tela "meus pedidos" até o momento


// Sobrescreve as cores do navbar escuro 
// ?? para alterar as cores do navbar-dark, é necessário atingir as váriaveis que o controlam, assim, consigo definir a cor que quero para eles
$navbar-dark-color: $secondary;     // Cor do texto

@import "../node_modules/bootstrap/scss/bootstrap";