.cupom {
    height: 13vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.icone-desconto{
    width: 20vw;
    height: auto;
}
// colocando aqui ao invés do bootstrap para facilitar o controle e sobrescrever essa regra em telas maiores depois
.info-cupom {
    width: 70%;
}

.texto-inferior a{
    color: var(--dark);
}

@media (min-width: 1025px) {

    .cupom {
        height: 22vh;
    }

    .info-cupom {
        width: 100vw;
    }

    .icone-desconto{
        width: 10vw;
        height: auto;
    }
}