.favorito {
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.img-favorito img {
  width: 20vw;
  height: auto;
}

.texto-inferior-favorito img {
  width: 6vw;
  height: auto;
}
// colocando aqui ao invés do bootstrap para facilitar o controle e sobrescrever essa regra em telas maiores depois
// .info-cupom {
//   width: 70%;
// }

@media (min-width: 1025px) {
  .img-favorito img {
    width: 15vw;
    height: auto;
  }

  .avaliacao-favorito img {
    width: 1.9vw;
  }

}
