.meu-pedido {
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.img-meu-pedido img {
  width: 20vw;
  height: auto;
}

#nome-data-meu-pedido span {
    font-size: .7rem;
} 

.texto-inferior-meu-pedido img {
  width: 6vw;
  height: auto;
}

@media (min-width: 1025px) {

  .img-meu-pedido img {
    width: 15vw;
    height: auto;
  }

    #nome-data-meu-pedido span {
        font-size: .9rem;
    }

}
