@media (min-width: 1025px) {
  .apresentacao-sobre-nos {
    width: 50vw;
  }

  .img-sec-um-sobre-nos {
    width: 50vw;
  }
}

.img-sec-dois-sobre-nos {
  width: 40vw;
  height: 100%;
}

.metricas-restaurante {
  width: 60vw;
}
